# PyCitySchools Challenge

In [1]:
# import libraries
import pandas as pd
from pathlib import Path

In [2]:
# Set path for files
File_path_school = Path("Resources/schools_complete.csv")
File_path_students = Path("Resources/students_complete.csv")

In [3]:
# Open and read csv files
df_school = pd.read_csv (File_path_school)
df_students = pd.read_csv (File_path_students)

In [4]:
df_school.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
df_students.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

# District Summary

In [6]:
#Total number of unique schools
Total_number_of_unique_schools = len(df_school["school_name"].unique())
Total_number_of_unique_schools

15

In [7]:
# Total students
Total_students = df_students["Student ID"].count()
Total_students

39170

In [8]:
# Total budget
Total_budget = df_school["budget"].sum()
Total_budget

24649428

In [9]:
# Average math score
Average_math_score = df_students["math_score"].mean()
Average_math_score

78.98537145774827

In [10]:
# Average reading score

Average_reading_score = df_students["reading_score"].mean()
Average_reading_score

81.87784018381414

In [11]:
# % passing math (the percentage of students who passed math)
passing_math_Percentage = (len(df_students.loc[df_students["math_score"]>=70])/len(df_students["math_score"]))*100
passing_math_Percentage

74.9808526933878

In [12]:
# % passing reading (the percentage of students who passed reading)
# As the numbers of rows are equals for each column
passing_reading_Percentage = (len(df_students.loc[df_students["reading_score"]>=70])/Total_students)*100
passing_reading_Percentage

85.80546336482001

In [13]:
# % overall passing (the percentage of students who passed math AND reading)
overall_passing_Percentage = len(df_students.loc[(df_students["math_score"]>=70)&(df_students["reading_score"]>=70)])/Total_students*100
overall_passing_Percentage

65.17232575950983

In [14]:
# Create a new DataFrame
district_summary = pd.DataFrame ({"Total_number_schools":[Total_number_of_unique_schools],
                                 "Total_students":[Total_students],
                                 "Total_budget":[Total_budget],
                                 "Average_mathscore":[Average_math_score],
                                 "Average_readingscore":[Average_reading_score],
                                 "passing_math_percentage":[passing_math_Percentage],
                                 "passing_reading_percentage":[passing_reading_Percentage],
                                 "overall_passing_percentage":[overall_passing_Percentage]
                                 })
district_summary

,Total_number_schools,Total_students,Total_budget,Average_mathscore,Average_readingscore,passing_math_percentage,passing_reading_percentage,overall_passing_percentage
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [15]:
# mapping

# School Summary

In [132]:
# merge the tables
merged_table = pd.merge(df_students,df_school,on ="school_name",how = "left")
merged_table.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [133]:
# make a copy
merged_table_copy = merged_table.copy()
merged_table_copy

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [134]:
# School name
school_name = (merged_table_copy.groupby("school_name")["school_name"]).first()
school_name

school_name
Bailey High School          Bailey High School
Cabrera High School        Cabrera High School
Figueroa High School      Figueroa High School
Ford High School              Ford High School
Griffin High School        Griffin High School
Hernandez High School    Hernandez High School
Holden High School          Holden High School
Huang High School            Huang High School
Johnson High School        Johnson High School
Pena High School              Pena High School
Rodriguez High School    Rodriguez High School
Shelton High School        Shelton High School
Thomas High School          Thomas High School
Wilson High School          Wilson High School
Wright High School          Wright High School
Name: school_name, dtype: object

In [135]:
# School type
school_type = merged_table_copy.groupby("school_name")["type"].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [136]:
# Total students
Total_students_grouped = merged_table_copy.groupby("school_name")["student_name"].count()
Total_students_grouped

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [137]:
# School count
count = grouped_merged_table_copy["school_name"].value_counts()
count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: count, dtype: int64

In [138]:
# Total school budget
Total_school_budget_grouped = merged_table_copy.groupby("school_name")["budget"].sum()/merged_table_copy.groupby("school_name")["school_name"].value_counts()
Total_school_budget_grouped

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [139]:
# Per student budget
budget_per_student = (merged_table_copy.groupby("school_name")["budget"].sum()/merged_table_copy.groupby("school_name")["school_name"].value_counts())/ merged_table_copy.groupby("school_name")["student_name"].count()
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [140]:
# Average math score
Average_math_score_grouped = merged_table_copy.groupby("school_name")["math_score"].mean()
Average_math_score_grouped

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [141]:
# Average reading score
Average_reading_score_grouped = merged_table_copy.groupby("school_name")["reading_score"].mean()
Average_reading_score_grouped

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [142]:
# % passing math (the percentage of students who passed math
passing_math = (merged_table_copy["math_score"] >= 70).groupby(merged_table_copy["school_name"]).mean() * 100
passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: math_score, dtype: float64

In [143]:
# % passing reading (the percentage of students who passed reading)
passing_reading =(merged_table_copy["reading_score"] >= 70).groupby(merged_table_copy["school_name"]).mean() * 100
passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: reading_score, dtype: float64

In [144]:
# % overall passing (the percentage of students who passed math AND reading)
overall_passing = ((merged_table_copy["math_score"] >= 70) & (merged_table_copy["reading_score"] >= 70)).groupby(merged_table_copy["school_name"]).mean() * 100
overall_passing

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [145]:
# Create a new DataFrame (Per_School_summary)

Per_School_summary = pd.DataFrame({
    "school name": school_name,
    "school type": school_type,
    "Total students": Total_students_grouped,
    "Total school budget": Total_school_budget_grouped,
    "Budget per student": budget_per_student,
    "Average mathscore": Average_math_score_grouped,
    "Average readingscore": Average_reading_score_grouped,
    "passing math percentage": passing_math,
    "passing reading percentage": passing_reading,
    "overall passing percentage": overall_passing
})

Per_School_summary = Per_School_summary.set_index("school name")
Per_School_summary

,school type,Total students,Total school budget,Budget per student,Average mathscore,Average readingscore,passing math percentage,passing reading percentage,overall passing percentage
school name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [146]:
# mapping